/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}
/*
hqing-5.此元素不会被显示。
*/
#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
